body {
    font-family: sans-serif;
}

p {
   background-color: #ccc;
}

h1 {
    background-color: rgb(247, 55, 30);
    padding: 16px;
}

h2 {
    background-color: rgb(26, 233, 88);
    margin-top: 60px;
    border-bottom: 2px solid green;
}

.destaque {
    background-color: orange;
}

.size {
    width: 50%;
    height: 100px;
}

.padding {
    padding: 26px;
}

.margin {
    margin: 50px 0 20px 100px;
}

.border {
    border: 5px solid #f00;
    padding: 10px;
}

.border2 {
    border: 5px dashed #00f;
}

.outline {
    outline: 5px dashed #f00;
}