body {
    font-family: sans-serif;
    background-color: rgb(20, 20, 20);
    color: #fff;
}

a:link {
    color: #00ffff;
}

a:visited {
    color: #00a0a0;
}

a:hover {
    background-color: blue;
}

a:active {
    padding: 3px;
}